<!-- templates/nonprofit.html -->

{% extends "base.html" %}

{% block content %}
<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="http://static1.squarespace.com/static/574ef19d9f7266ca965ea6af/5d2dec5c3321ce00019608e4/5d6e7f59de101e00019c6e6b/1569438996422/Two+Color+on+Blue.jpg?format=1500w" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nonprofit #1</h5>
      <p class="card-text">This is a caption about the nonprofit that talks about what they do etc.</p>
    </div>
    <form method="POST" action="/nonprofit">
      	<input type='hidden' name='nonprofit' value='nonprofit1'>
      	<button class="btn btn-primary">Choose</button>
      </form>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://i.pinimg.com/originals/54/79/8e/54798e4be7dd517809851673c244cb01.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nonprofit #2</h5>
      <p class="card-text">This is a caption about the nonprofit that talks about what they do etc.</p>
    </div>
	<form method="POST" action="/nonprofit">
      	<input type='hidden' name='nonprofit' value='nonprofit2'>
      	<button class="btn btn-primary">Choose</button>
    </form>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://cdn.firespring.com/images/97e75b6c-4886-4395-abe6-d64e393c3ead.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Nonprofit #3</h5>
      <p class="card-text">This is a caption about the nonprofit that talks about what they do etc.</p>
    </div>
    <form method="POST" action="/nonprofit">
      	<input type='hidden' name='nonprofit' value='nonprofit3'>
      	<button class="btn btn-primary">Choose</button>
    </form>
  </div>
</div>
{% endblock %}