<!-- templates/profile.html -->

{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('main.payment') }}"><button class="btn btn-success" style="margin:25px;">Simulate Payment</button></a>
{% if payment %}
<p>You spent ${{payment.price}} on {{payment.category}}.</p>
{% endif %}
<h1 class="title">
  Welcome, {{name}}!
</h1>
<h2>Total Donated: ${{total}}</h2>
<h2>Current Nonprofit: {{nonprofit}}</h2>
<h2>Organizations you have donated to: </h2>
<ul>
{% for org in orgs %}
<li>{{org.name}}</li>
{% endfor %}
</ul>
<a href="{{ url_for('main.breakdown') }}"><button class="btn btn-success" >See donation breakdown by nonprofit here.</button></a>
<a href="{{ url_for('main.nonprofit') }}"><button class="btn btn-success" >Change your current nonprofit donation organization here.</button></a>
{% endblock %}